<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluetooth.ble_terminal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name="com.bluetooth.ble_terminal.Terminal"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.bluetooth.ble_terminal.DeviceSelection"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:enabled="true" android:name="com.bluetooth.ble_terminal.BLEService">

        </service>
    </application>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> &lt;!&ndash; Req'd for background BLE scanning (KNOWN BUG) &ndash;&gt;-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

</manifest>